# Node modules
node_modules/

# Logs
npm-debug.log
yarn-error.log

# Operating system files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Build files
build/
dist/

# Environment files
.env
